.Movie{
    background-image: linear-gradient(to right,pink, rgb(226, 233, 161));
    width: 70%;
    padding: 10px 10px;
    margin: auto;
    margin-top: 4rem;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.19)0px 10px 20px,rgba(0,0,0,0.23)0px 6px 6px;
}
.Movie-info{
    padding: 15px 15px;
    font-weight: 500;
    
}
.Movie-director{
    font-weight: 200;
}